@tailwind base;

@font-face {
  font-family: MarkaziText;
  src: url("/static/MarkaziText-VariableFont_wght.ttf");
  unicode-range: U+00-FF, U+980-9FF;
}

body {
  @apply text-gray-800;
}

.app-page-body {
    @apply flex flex-col;
    @apply min-h-screen;
}

.app-page-header {
    @apply flex flex-col;
    @apply justify-center;
    @apply bg-white;
    @screen sm {
      @apply flex-row gap-4;
    }
}

/* [Nav] */

.nav {
    @apply flex flex-col;
    @apply flex-1;
}

.nav-item {
    @apply p-4;
}

.nav-item-active {
    @apply bg-green-200;
}

.nav-item:active {
    @apply bg-green-200;
}

#nav-toggle-checkbox {
    @apply hidden;
}

#nav-toggle-checkbox:not(:checked)+.nav {
    @apply hidden;
}

@screen sm {
    .nav {
        @apply flex-row;
        @apply justify-end;
    }

    .nav-item {
        @apply border-b-2 border-transparent;
    }

    .nav-item-active {
        @apply border-green-300;
        @apply bg-white;
    }

    .nav-item:hover {
        @apply border-green-400;
    }

    .nav-item:active {
        @apply bg-white;
    }

    #nav-toggle-checkbox:not(:checked)+.nav {
        display: flex;
    }

    label[for="nav-toggle-checkbox"] {
        @apply hidden;
    }
}

/* [/Nav] */

/* [Form] */

.input {
  @apply bg-gray-200;
  @apply border-b-2 border-green-300;
  @apply p-1 px-2;
  @apply rounded-t-sm;
}

.input:hover {
  @apply border-green-500;
}

.input:focus {
  @apply border-green-400;
}

.label {
  @apply text-gray-600;
  @apply font-semibold;
  @apply text-sm;
  @apply mb-1;
}

.btn,
.btn-primary,
.btn-danger {
  @apply bg-gray-300;
  @apply text-gray-800;
  @apply font-bold;
  @apply px-4 py-1;
  @apply rounded-sm;
  @apply border-b-2 border-gray-400;
}

.btn:hover {
  @apply bg-gray-200;
  @apply border-gray-300;
}

.btn:active {
  @apply bg-gray-400;
  @apply border-gray-500;
}

.btn-primary {
  @apply bg-green-500;
  @apply text-white;
  @apply border-green-700;
}

.btn-primary:hover {
  @apply bg-green-600;
}

.btn-primary:active,
.btn-primary.btn-active {
  @apply bg-green-700;
}

.btn-danger {
  @apply bg-red-500;
  @apply text-white;
  @apply border-red-700;
}

.btn-red:hover {
  @apply bg-red-600;
}

.btn-danger:active,
.btn-danger.btn-active {
  @apply bg-red-700;
}

/* [/Form] */

.msg,
.msg-error,
.msg-success {
  @apply bg-gray-100 text-gray-600 p-2 rounded;
}

.msg-error {
  @apply bg-red-100;
}

.msg-success {
  @apply bg-green-100;
}

/* [Card] */

.card {
  @apply flex flex-col;
  @apply p-4 gap-4;
  @apply bg-white;
}

.card-title {
  @apply text-gray-600;
  @apply font-semibold;
}

.card-subtitle {
  @apply text-gray-500;
  @apply text-sm font-semibold;
}

.card-section {
  @apply -mx-4 p-4;
  &:first-child {
    @apply pt-0;
  }
  &:last-child {
    @apply pb-0;
  }
  @apply flex flex-col;
  @apply gap-4;
  @apply bg-white;
}

.sheet {
  @apply card;
  @apply self-center;
  @apply w-full;
  @screen sm { @apply w-4/5; }
  @screen md { @apply w-3/4; }
  @screen lg { @apply w-2/3; }
}


/* [/Card] */

.help {
  @apply text-sm;
}

.is-success {
  @apply text-green-700;
}

.is-danger {
  @apply text-red-600;
}

@tailwind components;