$color-primary: #71DCAF;

$color-dark: #4F4F4F;
$color-dark-faded: #777777;

$color-bg: #EEEEEE;
$color-bg-light: #F4F4F4;
$color-bg-lighter: #F9F9F9;
$color-bg-lightest: #FFFFFF;

$color-btn-primary: $color-primary;
$color-btn-primary-hover: #5BF7B5;
$color-btn-primary-pressed: #61BA94;
$color-btn-primary-text: $color-bg-lightest;

$color-btn-neutral: $color-bg;
$color-btn-neutral-hover: $color-bg-lightest;
$color-btn-neutral-pressed: #DDDDDD;
$color-btn-neutral-text: $color-dark-faded;

$color-btn-danger: #DC7171;
$color-btn-danger-hover: #F75B5B;
$color-btn-danger-pressed: #BA6161;
$color-btn-danger-text: $color-bg-lightest;

$color-input: $color-bg-lightest;
$color-input-border: #C6DCD3;
$color-input-hover-border: $color-btn-primary-hover;
$color-input-active-border: $color-primary;

$color-nav-text: $color-dark;

$color-card-title: $color-dark-faded;

$color-tips-text: $color-dark-faded;

$color-body-text: $color-dark;

$color-label-text: $color-dark-faded;

$color-card-bg: $color-bg-light;

$card-box-shadow: 0px 4px 8px -6px rgba(0, 0, 0, 0.25);
$card-border-radius: 5px;
$input-border-radius: 2px;

$navbar-bg: $color-bg-lighter;
$navbar-box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.2);
$navbar-item-active-border: solid 2px $color-primary;
$navbar-item-hover-border: solid 2px $color-primary;

$color-pastel1: #E4EDFF;
$color-pastel1-hover: #BBD2FF;
$color-pastel1-pressed: #A7B7D5;

$color-pastel2: #FFEED9;
$color-pastel2-hover: #FFE3C2;
$color-pastel2-pressed: #D9BD9D;

$color-pastel3:#EAFFD9;
$color-pastel3-hover: #CDFEA7;
$color-pastel3-pressed: #ABDB86;